<h1>Index des tweets</h1>

<% @tweets.each do |tweet| %>
<div class = "w3-card w3-padding-16 w3-padding-large w3-margin-top">
<p> Tweet n°<%= tweet.id %> :</p>
<p><%= tweet.content %></p>
</div>
<%end%>

<%= link_to "Send a tweet", tweets_new_path %>

